.clear {
  clear: both;
}

h1 {

}

hr {
  margin: 24px 0px 12px 0px;
}

#header-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 44px;
  border: 1px solid #999999;
  background-color: #6699FF;
  
  padding-left: 16px;
}

.header-text {
  position: relative;
  top: 5px;
  font-size: 16px;
  font-weight: bold;
  margin: 0px 0px 4px 0px;
}

.breadcrumbs {
  font-size: 10px;
  margin: 0px;
}

#content {
  position: relative;
  top: 30px;
  
  margin: 24px 16px 0px 16px;
}




ol#question-list li {
  margin: 20px;
}

ol#question-list li p {
  margin: 4px 0px 4px 0px;
}

a.modify {
  font-size: 0.75em;
  color: #999999;
}

textarea {
  font-family: "verdana";
  width: 300px;
}

ul#edit-keyword-list li{
  margin-bottom: 24px;
}

ul#edit-keyword-list li p {
  margin: 0px 0px 0px 0px;
}

ul#edit-keyword-list li p.keyword {
  font-weight: bold;
}

ul#user-week-list li {
  margin: 0px 0px 52px 0px;
}

ul#user-week-list li p {
  margin: 0px 0px 4px 0px;
}

table {
  border: 1px solid #333333;
}

table#dump tr.study {
  background-color: #CCCCFF;
}

table#dump tr.recall {
  background-color: #CCFFCC;
}

table#dump td { 
  border-left: 1px solid #333333;
  border-bottom: 1px solid #CCCCCC;
  font-size: 10px;
}

td.cell-counterbalance {
  font-size: 8px;
  text-align: center;
}

td.this-week {
  background-color: #FFCCCC;
}

td.completed {
  font-size: 8px;
  text-align: center;
}

.counterbalance-none {
  background-color: #7777CC;
}

.counterbalance-study {
  background-color: #CC7777;
}

.counterbalance-study_recall {
  background-color: #77CC77;
}