#header-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 44px;
  border: 1px solid #000000;
  background-color: #000000;
  
  padding-left: 16px;
}

#header-left {
  float: left;
}

#header-right {
  position: relative;
  float: right;
  text-align: right;
  right: 24px;
}

#header-right a {
  position: relative;
  top: 12px;
  font-size: 12px;
  margin: 0px 4px 4px 0px;
  color: #CCCCCC;
}

.header-text {
  position: relative;
  top: 8px;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 0px 4px 0px;
  color: #EAC117;
}

#content {
  position: relative;
  top: 30px;
  
  margin: 52px 16px 0px 16px;
}

#login-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  border: 1px solid black;
  background-color: #EEEEEE;
  border-radius: 5px;
  padding: 5px 10px 20px 10px;
  margin-top: 56px;
}

#last-question-correct {
  position: fixed;    
  
  left: 0px;
  width: 100%;
  top: 45px;
  margin-bottom: 0px;
  padding: 4px 20px 4px 20px;
  
  font-size: 1em;  
  
  border: 1px solid #333333;
  background-color: #FFFFCC;
}

#title {
  position: relative;
  left: -20px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  margin-bottom: 5px;
  
  font-size: 1.5em;  
}

.correct {
  color: #00CC00;
}

.incorrect {
  color: #CC0000;
}

#step-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  border: 1px solid black;
  background-color: #EEEEEE;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;  
}

#step-box p {
  margin: 0px 0px 0px 0px;
}

#step-box p.next-link {
  text-align: right;
  margin-top: 16px;
}

#step-box p.question {
  font-weight: bold;
  margin-bottom: 10px;
}

#step-box p.correct-responses {
  font-size: 0.75em;
}

.study-text-missing-keyword {
  color: red;
  font-weight: bold;
}

h1 {

}

h2 {
  margin-top: 0px;
  margin-bottom: 12px;
}

textarea {
  width: 100%;
  font-family: "Verdana";
  resize: none;
}

#jswarning {
  background-color: #FFFFCC;
  border: 1px solid red;
  padding: 4px;  
  margin-top: 10px;
}

#sign-up-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  border: 1px solid black;
  background-color: #EEEEEE;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;  
}

#sign-up-box form ul {  
  list-style-type: none;
  padding-left: 12px;
}

#sign-up-box form ul li {
  margin-left: 0px;
  margin-bottom: 10px;
  clear: both;
}

#sign-up-box form label {  
  float: left;
  width: 125px;
}

#sign-up-box form label.first-language {  
  float: none;
}

#sign-up-box form .field_with_errors {
  float: left;
  background-color: transparent;  
}



#errorExplanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}