<div id="login-box">
	<p>Sign in with your email address:</p>
	<%= form_tag( sign_in_test_index_path ) do %>
		<%= text_field :login, :email %>
		<%= submit_tag "Sign In" %><br/>
		<% if @error == :no_email %>You must provide an email address<% end %>
		<% if @error == :user_not_found %>No user was found with this email address<% end %>		
	<% end %>
</div>