<div id="sign-up-box">

	<h2>Thank you for registering!</h2>
	<p>You may complete the first part of the Experiment any time on Saturday Feb. 11 or Sunday Feb. 12 by visiting <a href="http://learningweb.psych.purdue.edu">learningweb.psych.purdue.edu</a> . You will log in using your purdue career account credentials. </p>
	
	<br><p>Next weekend, you will visit the lab to complete part 2. Go to PSYC 3195 on Saturday Feb. 18 anytime between 10AM and 5PM to complete Part 2. </p>
	
</div>
