<div id="step-box">
	
	<h2>Week <%= TestMeta.week + 1 %></h2>
	
	<% if @welcome_state == :already_finished %>
	  <p>You have already finished this week's test.</p>
	
	<% elsif @welcome_state == :already_started %>
	  <p>You are in the middle of a test. The test will resume where you left off.</p>
	  <p class="next-link"><%= link_to "Resume", step_test_index_path %></p>
	  
	<% elsif @welcome_state == :new_test %>
	  
	  <% if @condition == :none %>
	  	You have no test scheduled for this week. 
	  	
	  <% elsif @condition == :study %>
	    <p>This week you will study a list of terms. You may take as much time as you need.</p>
	    <p class="next-link"><%= link_to "Start", step_test_index_path %></p>
	    
	  <% else %>  	
	    <p>This week you will study a list of terms and be tested over their definitions.</p>
	    <p class="next-link"><%= link_to "Start", step_test_index_path %></p>
	    
	  <% end %>
	        
	<% end %>
	
</div>