<h1>Test State</h1>
<hr>
<br/><br/><br/>

<h1>Test Questions</h1>
<hr>
This test contains <%= pluralize( Question.count, "question" ) %><br/>
<%= link_to "Edit", admin_questions_path %>
		
<br/><br/><br/>

<h1>Users</h1>
<hr>
<br/><br/><br/>